<%# <h1>HOME</h1> %>
<%# <h2><%= @title %>  <%# </h2> %>

<%# <h2><%= @article.title %> <%# </h2> %>
<%# <h2><%= @article.content %> <%# </h2> %>


<%#以下のリンクの貼り方だとurlが変更された時に対応できない%>
<%# <a href="/about">About</a> %>

<%# URLヘルパー指定 %>
<%# <%= link_to 'About', about_path %>

<div class="container">
  <%# _tabs.html.erbの部分テンプレートの呼び出し %>
  <%= render 'tabs' %>
  

  <% @articles.each do |article| %>
    <%# _article.html.erbの部分テンプレートの呼び出し %>
    <%# render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>
    <%= render 'article', article: article %>
  <% end %>
  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>

  
