<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# application.html.erbがブラウザ上に表示される %>
    <%# application.html.erbの yield の中にindex,about.html.erbがある %>
    <%# ∴ﾍｯﾀｰやﾌｯﾀｰなどの全ページ共通項目はapplication.html.erbに記載する %>
    <p>レイアウトだよ</p>
    <%= yield %>
  </body>
</html>
